.peliculas-contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.pelicula-contenedor{
    margin-right: 2rem;
    margin-bottom: 10px;
    text-align: center;
}
p{
    max-width: 225px;
    font-size: 15px;
    font-weight: bold;
}

button {
    margin-left: 1rem;
}