<mat-toolbar>
    <span>
        <a mat-button routerLink="">
            <mat-icon >local_movies</mat-icon> Angular Peliculas
        </a>
    </span>
    <div>
        <a mat-button routerLink="generos">
            <mat-icon  >local_movies</mat-icon> Generos
        </a>
    </div>
    <div>
        <a mat-button routerLink="actores">
            <mat-icon  >local_movies</mat-icon> Actores
        </a>
    </div>
    <div>
        <a mat-button routerLink="cines">
            <mat-icon  >local_movies</mat-icon> Cines
        </a>
    </div>
    <div>
        <a mat-button routerLink="peliculas/crear">
            <mat-icon  >local_movies</mat-icon> Crear Pelicula
        </a>
    </div>
</mat-toolbar>

